body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.text-tsquash{
    color:#DE1B1B !important;
    font-size:2em !important;
    text-decoration:none;
}
.text-tsquash :visited{
        color:#DE1B1B !important;
    font-size:2em !important;
    text-decoration:none;
}

#newUser a{
    color:#DFDFDF !important;
    font-size:12px !important;
     margin:auto !important;
    display:inline-block !important;
}
#newUser a :visited{
    color:#DFDFDF !important;
    font-size:12px !important;
     margin:auto !important;
    display:inline-block !important;
}